@{
    Layout = null;
}
@model List<Unidad7_Ejercicios.Models.Entity.clsPersona>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <table border="1" cellpadding="2">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        @foreach (var alumno in Model)
        {
        <tr>
            <th>@alumno.Nombre</th>
            <th>@alumno.Apellido</th>
        </tr>
        }
    </table>
    
</body>
</html>