@{
    Layout = null;
}
@model Unidad7_Ejercicios.Models.Entity.clsPersona;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>@ViewData["Hora"]</p>
    <p>@ViewBag.HoraLarga</p>
    <p>@Model.Nombre</p>
</body>
</html>