@{
    Layout = null;
}
@model Unidad7_Ejercicios.Models.DAL.ModelView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <table>

    </table>
</body>
</html>